@import url(base.css);
.box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin: 100px auto;
    background: url(../images/bg.jpg) no-repeat -200px -200px;
    background-size: 1200px 700px;
    font-family: "宋体";
}
.box .tops{
    width: 100%;
    height: 40px;
    background: #ccc;
}
.box .tops ul li{
    float: left;
    width: 16.6666667%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.color{
    color:purple;
}
.box .bottoms{
    width: 100%;
    height: 460px;
}
.box .bottoms .lefts{
    float: left;
    width: 100px;
    height: 100%;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.box .bottoms .lefts ul{
    display: none;
}
.box .bottoms .lefts .xian{
    display: block;
}
.box .bottoms .lefts ul li{
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
input[type=number]{
    width: 90%;
}
.box .bottoms .canvas{
    float: right;
    width: 700px;
    height: 100%;
    position: relative;
}
.box .bottoms .canvas .copy{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
}
.xp{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top:0;
    display: none;
}